{% extends 'base.html' %}
{% load static %}
{% block title %}{{ name }}{% endblock %}
{% block content %}
    <h2>{{ recipe.name }}</h2>
    <h3>contributed by {{ recipe.author }}</h3>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}</li>
        {% endfor %}
    </ul>
    {% for image in recipe.image.all %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}">
    {% endfor %}
    <h4>
        <a href="{% url 'ledger:recipe_add_image' pk=recipe.pk %}">Add Images</a>
    </h4>
    <a href="/recipes/list">Recipes List</a>
{% endblock %}